# aliases and functions

alias pcat='pygmentize -f terminal256 -O style=native -g'

# git add . commit -m and push master to origin
gacp () 
{
  git add . && git commit -m $1 && git push origin master
}

# docker-compose stop build and up
docker-csbu ()
{
  docker-compose stop $1 && docker-compose build --no-cache $1 && docker-compose up -d --force-recreate $1
}

# Shortcut to running shell inside a docker container searching $1
# usage: $shbacano magento
function shbacano() {
    #do things with parameters like $1 such as
    echo "running sh into $(docker ps | grep "$1" | awk '{print $1 " " $2}')";
    docker exec -it `docker ps | grep "$1" | awk '{print $1}'` sh;
}
