#!/bin/zsh

# Disclaimer: this is for mac :)

export JAVA_HOME="/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home"

export PATH="$PATH:/Users/luisjmarrero/development/flutter/bin"

export ANDROID_SDK_ROOT="/Users/luisjmarrero/Library/Android/sdk"

export PATH="$PATH:$ANDROID_SDK_ROOT/cmdline-tools/latest/bin"
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools

export PATH="$PATH:/Users/luisjmarrero/development/jetbrains"